

NODE_ENV=development

PORT=4000

MONGO_URI=

JWT_SECRET=
jwtExpiresIn=

CLIENT_URL=

EMAIL_USER=
EMAIL_PASS=

REDIS_URL=

ADMIN_EMAIL=
ADMIN_PASS=

NODE_ENV=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=